.content
{
    display: flex;
    width: 100%;
    height: 100%;
    border: 1px solid #838798;
    margin-top: 60px;
    justify-content: space-between;
    position: relative;
}

.service{
    margin-top: 60px;
}

.title{
    display: flex;
    flex-direction: column;
    gap: 90px;
    margin-top: 60px;
    margin-left: 60px;
    width: 440px;
    margin-bottom: 60px;

}

.subtitle
{
    margin-top: 60px;
    margin-right: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 60px;
}

.subtitle button{
    align-self: flex-start;
}

.headerTitle
{
    font-size: 20px;
    font-weight: 400;
    color: #838798;
    text-transform: lowercase;
}

.headerTitle:before
{
    content: '{';
    padding-right: 5px;
}

.headerTitle:after
{
    content: '}';
    padding-left: 5px;
}

.allLink
{
    display: flex;
    flex-direction: column;
}

.link
{
    padding: 20px 10px;
    color: #838798;
    font-weight: 300;
    font-size: 20px;
    transition: 0.3s;
}

.link:hover
{
    background: #838798;
    color: #F3F4F9;
}

.link:nth-child(-n + 5)
{
    border-bottom: 1px solid #838798;
}
.link:nth-child(-n + 5):hover
{
    border-bottom: 2px solid #F3F4F9;
}

.headerOffer
{
    display: flex;
    flex-wrap: wrap;
    color: #838798;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -2.64px;
    text-transform: uppercase;
    width: 400px;
}

.headerOffer i
{
    font-style: normal;
    font-weight: 500;
}

.button
{
    padding: 28px 40px;
    background: none;
    border: 1px solid #838798;
    color: #838798;
    font-size: 20px;
}

.bgLine
{
    position: absolute;
    background: url("../../../../../public/images/lineServiceBlock.png") repeat;
    width: 100%;
    height: 758px;
    top: -10vh;
    z-index: -10;
}

.button:hover
{
    background: #838798;
    border: 1px solid #F3F4F9;
    color: #F3F4F9;
}