.logo
{
    background: url("../../../../public/images/header/logosms.png");
    background-size: cover;
    width: 187px;
    height: 70px;
    margin-left: 35px;

}

.header
{
    position: fixed;
    top: 0;
    z-index: 30;
    box-sizing: border-box;
    width: 100%;
    background: #838798;
    opacity: 0.8;
    display: flex;
    height: 80px;
    color: #F3F4F9;
    justify-content: space-between;
    align-items: center;
}
.header_links
{
    display: flex;
    gap: 20px;
}

.links
{
    text-decoration: none;
    color: inherit;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
}
.navBar
{
    display: flex;
    gap: 60px;
    align-items: center;
    margin-right: 40px;
}

.header_button
{
    padding: 12px 40px;
    border: 2px solid #F3F4F9;
}

.header_button:hover
{
    background: #F3F4F9;
    border: 2px solid #838798;
    color: #838798;
}