.photo_mainPage {
  background: url("../../../../public/images/mainPageImg.png");
  background-size: cover;
  width: 360px;
  height: 630px;
  margin-left: 20px;
}

.mainTitle {
  display: flex;
  justify-content: space-between;
}

.mainPage {
  background: var(--gray);
  position: relative;
  width: 780px;
  height: 630px;
}

.offerPosition {
  position: absolute;
  top: 160px;
  left: 60px;
}

.offerPositionTwo {
  position: absolute;
  top: 260px;
  left: 260px;
}


.mainPage_button {
  display: flex;
  gap: 20px;
  position: absolute;
  bottom: 140px;
  left: 90px;
  z-index: 10;
}

.lineMainPage {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 70px;
  background: url("../../../../public/images/lineMainPage.png") no-repeat;
  z-index: 1;
}

.starMainPage {
  position: absolute;
  background: url("../../../../public/images/starMainPage.png");
  background-size: cover;
  width: 58px;
  height: 68px;
  top: 160px;
  right: 60px;
  z-index: 1;
  animation: 10s infinite rotate linear;

  @keyframes rotate {
    0% {
      rotate: 0;
    }
    100% {
      rotate: 360deg;
    }
  }
}


