.contacts{
    display: flex;
    gap: 40px;
}

.contacts_content{
    border: 1px solid var(--gray);
    padding: 60px;
    margin-top: 90px;
    width: 460px;
}


.contacts_content button{
    align-self: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.contacts_content input{
    border-bottom: 1px solid var(--gray);
    padding: 20px 0;
    width: 340px;
}

.Htag{
    text-align: center;
    font-size: 14px;
}

.text_img_content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 60px;
}

.text_img_content h3{
    text-transform: uppercase;
    width: 590px;
    font-size: 48px;
    font-weight: 400;
    line-height: 68px;
    word-wrap: break-word
}

.text_img_content h3 i{
    font-style: normal;
    font-weight: 500;
}

.star{
    background: url("../../../../public/images/StarContacts.png") no-repeat;
    background-size: cover;
    position: absolute;
    height: 70px;
    width: 60px;
    top: 0;
    right: 120px;
    z-index: 1;
    animation: infinite rotate 10s linear;
}

.imgIcon{
    display: flex;
    align-items: flex-end;
    gap: 20px;
}

.firstImg{
    position: absolute;
    background: url("../../../../public/images/nailsContacts.png");
    width: 360px;
    height: 160px;
    background-size: cover;
}

.secondImg{
    position: absolute;
    background: url("../../../../public/images/contactsWoman.png");
    width: 220px;
    height: 360px;
    background-size: cover;
    right: -20px;
}


@keyframes rotate {
    0%
    {
        rotate: 0;
    }
    100%
    {
        rotate: 360deg;
    }
}