.contacts{
    display: flex;
    height: 540px;
    margin-top: 100px;
    gap: 40px;
    color: #838798;
    margin-bottom: 20px;
}

.border_content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-left: 60px;
}

.border_content h2:after{
    content: '}';
    margin-left: 5px;
}

.border_content h2:before{
    content: '{';
    margin-right: 5px;
}
.contacts_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #838798;
    padding: 60px;
}


.contacts_content form button{
    align-self: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.contacts_content input{
    border-bottom: 1px solid #838798;
    padding: 20px 0;
    width: 340px;
}
.contacts_content input::placeholder{
    margin-bottom: 10px;

}

.text{
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    width: 280px;
    word-wrap: break-word
}

.text_img_content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text_img_content h3{
    text-transform: uppercase;
    width: 590px;
    font-size: 48px;
    font-weight: 400;
    line-height: 68px;
    word-wrap: break-word
}

.text_img_content h3 i{
    font-style: normal;
    font-weight: 500;
}

.star{
    background: url("../../../../public/images/StarContacts.png") no-repeat;
    background-size: cover;
    position: absolute;
    height: 70px;
    width: 60px;
    top: 0;
    right: 120px;
    z-index: 1;
    animation: infinite rotate 10s linear;
}

.imgIcon{
    display: flex;
    align-items: flex-end;
    gap: 20px;
}

.firstImg{
    position: absolute;
    background: url("../../../../public/images/nailsContacts.png");
    width: 360px;
    height: 160px;
    background-size: cover;
}

.secondImg{
    position: absolute;
    background: url("../../../../public/images/contactsWoman.png");
    width: 220px;
    height: 360px;
    background-size: cover;
    right: 0;
}


@keyframes rotate {
    0%
    {
        rotate: 0;
    }
    100%
    {
        rotate: 360deg;
    }
}