.btn{
    border: 1px solid var(--white);
    color: var(--white);
    align-self: center;
    background: transparent;
    padding: 30px 40px;
    font-weight: 500;
    font-size: 20px;

    &:disabled{
        cursor: not-allowed;
    }
}

.btn:hover{
    background: var(--white);
    color: var(--gray);
}

.gray{
    border: 1px solid var(--white);
    background: transparent;
    color: var(--white);
    padding: 30px 40px;

    &:hover{
        background: var(--white);
        color: var(--gray)
    }
}

.white{
    border: 1px solid var(--white);
    background: transparent;
    color: var(--white);
    padding: 30px 40px;

    &:hover{
        background: var(--white);
        color: var(--gray)
    }
}

.btn_gray{
    background: transparent;
    color: var(--white);

    &:hover{
        background: var(--white);
        color: var(--gray);
    }
}

.btn_white{
    background-color: var(--white);
    color: var(--gray);

    &:hover{
        background: transparent;
        color: var(--white)
    }
}

.btn_bg_gray{
    background: var(--gray);
    color: var(--white);
    &:hover{
        background: transparent;
        border: 1px solid var(--gray);
    }
}
