.btn{
    border: 1px solid var(--btn_white_hover);
    color: var(--btn_white_clr);
    align-self: center;
    background: transparent;
    padding: 30px 40px;
    font-weight: 500;
    font-size: 20px;
}

.btn:hover{
    background: var(--btn_white_clr);
    color: var(--btn_gray_clr);
}

.black_btn{
    border: 1px solid var(--btn_gray_clr);
    color: var(--btn_gray_clr);
    align-self: center;
    background: transparent;
    padding: 30px 40px;
    font-weight: 500;
    font-size: 20px;
}

.black_btn:hover{
    background: var(--btn_gray_hover);
    color: var(--btn_white_hover);
}

.black_btn:disabled{
    cursor: not-allowed;
    pointer-events: all;
}

.grayBtn{
    background: var(--btn_white_clr);
    color: var(--btn_gray_clr);
    padding: 30px 40px;
    font-weight: 500;
    font-size: 20px;
}

.grayBtn:hover{
    background: transparent;
    border: 1px solid var(--btn_white_hover);
    color: var(--btn_white_hover);
}

