.container
{
    display: flex;
    margin-top: 60px;
    z-index: 10;
    position: relative;
    justify-content: space-between;
}

.firstBlockContent
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Htag{
    margin-left: 60px;
}

.HtagText{
    width: 380px;
    margin-left: 60px;
}

.btn{
    align-self: start;
    margin-left: 60px;
}

.imgBlock
{
    background: url("../../../../public/images/imgTraining.png") no-repeat;
    margin-top: 60px;
    width: 660px;
    height: 630px;
    background-size: cover;
}